.pmoon-logo {
    border:none;
}

.stat-imgs {
    height:80%
}

.biography-editor {
    padding-bottom: 0.5em;
    
    // TODO: Currently editor handlebars hide themselves when nested under other elements
    .editor {
      min-height: 4em;
    }
}

.profile-personal-info {
    section {
        padding-bottom: 0.5em;
    }
}

.tab.stats {

    input {
        padding: 0px;
    }

    .resources {
        .flexrow {
            .stats-right-column {
                flex: 1;
                padding-left: 1%;
            }

            div {
                padding-bottom: 1px;
            }
        
            .stats-left-column {
                flex: 2;
                
                .profile-img {
                    width: 95%;
                }
            }
        }
    }
}

.tab.biography {
    .basic-info {

        .profile-personal-info {
            span {
                flex:1;
            }
            input {
                flex:2.5
            }
        }

        .profile-personal-info-art {
            padding-left: 1%;

            .profile-img {
                height:85%;
                width: 95%;
            }
        }
    }
    .profile-investigation {
        .profile-investigation-editors {
            span {
                flex:1;
            }
            textarea {
                flex:4
            }
        }
    }
}

.inventory-ahn-label {
    text-align: right;
    margin-top: 0.25rem;
    margin-right: 0.25rem;
}