<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-fields">
      <div class="sheet-header">
        <img class="pmoon-logo" src="systems/project-moon-ttrpg/assets/pmoon-logo.png"/>
        <div>

          {{!-- Character Name input --}}
          <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

          {{!-- Sheet Tab Navigation --}}
          <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="profile">Profile</a>
            <a class="item" data-tab="stats">Stats</a>
            <a class="item" data-tab="inventory">Inventory</a>
            <a class="item" data-tab="effects">Effects</a>
          </nav>

        </div>
      </div>      
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Main Stats Tab --}}
    {{> "systems/project-moon-ttrpg/templates/actor/parts/actor-stats.hbs"}}

    {{!-- Biography Tab --}}
    {{> "systems/project-moon-ttrpg/templates/actor/parts/actor-profile.hbs"}}

    {{!-- Owned Items Tab --}}
    {{> "systems/project-moon-ttrpg/templates/actor/parts/actor-items.hbs"}}

    {{!-- Active Effects Tab --}}
    {{> "systems/project-moon-ttrpg/templates/actor/parts/actor-effects.hbs"}}

  </section>
</form>
